<footer>
	<div style="background-color: #333333">
    <div class="container fg-white">
      <div class="padding20">
        <div class="grid responsive">
          <div class="row cells3">
            <div class="cell">
              <h3>Find Us :</h3>
              <p>Jl. Cikopak No. 53, Sadang</p>
              <p>Purwakarta - Jawa Barat</p>
              <p>Tlp: (0264) 214952, 8225153</p>
              <p>Fax: (0264) 8225153</p>
              <p>E-mail: info@stt-wastukancana.ac.id</p>
            </div>
            <div class="cell align-center">
              <h3>Not yet registered?</h3>
              <p>Click</p>
              <p>
                <button class="image-button button success block-shadow-success text-shadow">
                    REGISTER
                    <span class="icon mif-unlock bg-transparent"></span>
                </button>
              </p>
            </div>
            <div class="cell align-center">
              <h3>Follow Us :</h3><br />
              <div class="grid">
                <div class="row cells2">
                  <div class="cell">
                    <div class="circle-container circle-medsos border-darkCobalt">
                      <span class="icon mif-facebook mif-3x"></span>
                    </div>
                  </div>
                  <div class="cell">
                    <div class="circle-container circle-medsos border-red">
                      <span class="icon mif-google-plus mif-3x"></span>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="grid">
                <div class="row cells2">
                  <div class="cell">
                    <div class="circle-container circle-medsos border-cyan">
                      <span class="icon mif-twitter mif-3x"></span>
                    </div>
                  </div>
                  <div class="cell">
                    <div class="circle-container circle-medsos border-blue">
                      <span class="icon mif-linkedin mif-3x"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="align-center padding20 text-large">
          Hak Cipta © STT Wastukancana
      </div>
    </div>
	</div>
</footer>