<header>	
	
	<div class="bg-header fg-white align-center">
		<div class="layer">
			<div class="no-overflow" style="padding-top: 70px">
				<img src="/img/logo-STT.gif" width="100px" height="100px">
				<br />
				<br />
				<h1 style="font-size: 3rem; font-weight: bold; line-height: 1" class="text-shadow">
					STT WASTUKANCANA
				</h1>
				<div class="sub-leader text-light">
					Leading of Innovation and Technology
				</div>
				<p class="" style="font-size: 20px; margin-top: 17px; padding: 20px 50px">
					Sekolah Tinggi Teknologi Wastukancana Purwakarta <br />
					merupakan lembaga pendidikan tinggi swasta yang diselenggarakan <br />
					secara penuh oleh Yayasan Bunga Bangsa Purwakarta
				</p>
				
				<br /><br /><br /><br />
				
				<div class="grid">
          <div class="row cells5">
              <div class="cell">
                  <div class="circle-container circle border-red">
                  <span class="icon mif-users mif-4x"></span>
                  <div class="tile-label">About Us</div>
            </div>
              </div>
              <div class="cell">
                  <div class="circle-container circle border-blue">
                  <span class="icon mif-school mif-4x"></span>
                  <div class="tile-label">Academic</div>
            </div>
              </div>
              <div class="cell">
                  <div class="circle-container circle border-green">
                  <span class="icon mif-enter mif-4x"></span>
                  <div class="tile-label">Log In</div>
            </div>
              </div>
              <div class="cell">
                  <div class="circle-container circle border-yellow">
                  <span class="icon mif-phone mif-4x"></span>
                  <div class="tile-label">Contact Us</div>
            </div>
              </div>
              <div class="cell">
                  <div class="circle-container circle border-magenta">
                  <span class="icon mif-apps mif-4x"></span>
                  <div class="tile-label">SIMAK</div>
            </div>
              </div>
          </div>
				</div>
            					
				
				<br /><br />
			</div>
		</div>
	</div>
</header>
